@charset 'utf-8';

@import "settings";
@import "foundation";
@import "motion-ui";

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-range-input;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;

// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;
@include motion-ui-animations;

// Fonts
//------

@font-face {
    font-display: swap;
    font-family: "Ballpark Weiner";
    src: url("../fonts/ballpark-weiner-latin.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: "Open Sans";
    src: url("../fonts/open-sans-latin-300-normal.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: "Open Sans";
    src: url("../fonts/open-sans-latin-300-italic.woff2") format("woff2");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-display: swap;
    font-family: "Open Sans";
    src: url("../fonts/open-sans-latin-400-normal.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: "Open Sans";
    src: url("../fonts/open-sans-latin-400-italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
}

// Variables
//----------

$darker-gray: #6e6e6e;
$main-background: #f4f4f2;
$select-background: #00d6bd;

// Mixins
//-------

// Styles
//-------
::selection {
    color: $body-font-color;
    background: rgba($select-background, 1);
}

body {
    background: $main-background;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 20px;
}

header {
    margin: 30px 0 60px;

    & a {
        border: none;
    }
}

footer {
    background: $body-background;
    border-top: 1px solid $light-gray;
    color: $dark-gray;
    font-size: 16px;
    padding: 30px 0 90px;

    & p {
        margin-bottom: 0.5rem;
    }

    & a:link,
    & a:visited {
        color: $dark-gray;
        border-bottom: none;
    }

    & a:hover {
        color: $body-font-color;
    }
}

a {
    border-bottom: 1px dashed;
    color: $secondary-color;
    text-decoration: none;

    &:hover {
        color: $secondary-color;
        transition: ease-in 0.5s;
    }
}

h1 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 48px;
    font-style: italic;
    font-weight: 300;
    hyphens: auto;
    line-height: 1.5em;
    margin-bottom: 40px;
}

h2 {
    color: $medium-gray;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 80px;
    font-style: italic;
    font-weight: 300;
    margin: 40px 0;
}

h3 {
    color: $secondary-color;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-style: italic;
    margin: 0 0 15px;

    &.title-more {
        color: $dark-gray;
        font-size: 24px;
        font-style: normal;
        text-transform: uppercase;
    }
}

h4 {
    clear: both;
    color: $dark-gray;
    font-size: 32px;
    margin: 15px 0;
}

h5 {
    font-size: 24px;
    font-weight: bold;
    margin: 30px 0 15px;
}

ul {
    margin: 1em 0;
    padding-left: 1em;
}

li {
    list-style: disc;
    margin: 0;
}

hr {
    margin: 40px 0 60px 0;
    width: 100%;
}

time {
    color: $darker-gray;
    font-size: 12px;
    text-transform: uppercase;
}

code,
pre {
    background-color: #f9f9f9;
    border-radius: 3px;
    border: 0;
    color: #666;
    font-family: "DejaVu Sans Mono", Courier, monospace;
    font-size: 16px;
    margin-bottom: 1em;
}

pre {
    line-height: normal;
    padding: 2px;
}

video {
    width: 100%;
    height: auto;
}

legend {
    display: none;
}

[type="color"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
textarea {
    background: $body-background;
    border: none;
    border-bottom: 1px solid $light-gray;
    box-shadow: none;
    height: auto;
    padding: 15px;

    &:focus {
        border: none;
        border-bottom: 1px solid $secondary-color;
        box-shadow: none;
    }
}

.menu {
    float: right;
    font-size: 16px;
    margin-top: 15px;
    text-transform: uppercase;

    & .active {
        color: $primary-color;
    }

    & li {
        list-style: none;
    }

    @include breakpoint(medium down) {
        float: none;
    }
}

.about,
.blog,
.cases,
.error {
    margin-bottom: 90px;
}

.image {
    margin: 60px 0;
}

.start {
    margin: 60px 0;
}

.monster {
    margin-bottom: 30px;
}

.preview {
    border: 1px solid $light-gray;
    cursor: default;
    overflow: hidden;
    position: relative;

    & img {
        display: block;
        position: relative;
        transition: all 0.8s ease-in-out;
        width: 100%;
    }

    & a {
        border: none;
    }

    &:hover img {
        transform: scale(1.25);
    }

    &:hover .mask {
        opacity: 1;
    }

    &:hover p {
        transform: scale(1);
        opacity: 1;
        transition: all 0.5s linear;
    }

    .mask {
        background-color: rgba(214, 59, 0, 0.8);
        height: 100%;
        left: 0;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        transition: all 1s linear;
        width: 100%;
    }
}

.small-up-1 .preview {
    max-height: 600px;
}

.job {
    color: $body-background;
    left: 30px;
    position: absolute;
    top: 30px;
}

.job-title {
    font-size: 56px;
    font-weight: bold;
    line-height: 100%;
    z-index: 10;
}

.job-type {
    font-size: 16px;
    font-weight: normal;
    margin-top: -15px;
    text-transform: uppercase;
    z-index: 10;
}

.project {
    color: $dark-gray;
    display: block;
    font-size: 12px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.blog-excerpt {
    margin-bottom: 60px;
}

.previous-next {
    & li {
        display: inline;
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.next,
.previous {
    margin-left: 30px;

    & a {
        &:hover {
            background: scale-color($secondary-color, $lightness: -15%);
        }
    }
}

.pagination-nav {
    margin-top: 60px;

    & ul {
        margin: 0;
        padding: 0;

        & li {
            margin: 0;

            &.current {
                background-color: $secondary-color;
            }

            &.pagination-previous a {
                border: none;
            }

            &.pagination-next a {
                border: none;
            }

            & a {
                border: none;
            }
        }
    }
}

.footer-contact {
    ul {
        padding: 0;

        li {
            list-style: none;
            padding: 0;
        }
    }

    & a:link,
    a:visited {
        color: $body-font-color;
    }

    & a:hover {
        color: $primary-color;
    }
}

.footer-links {
    ul {
        padding: 0;

        li {
            display: inline;
            list-style: none;
            margin-right: 15px;
        }
    }
}
